* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formularioTarefas {
    margin: 0 auto;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #0c1422;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#listaTarefas { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#camposDeTexto {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 5px;
}

#optionsGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input {
    padding: 3px;
    border-radius: 2px;
    border: none;
}

li {
    list-style: none;
}

.tarefa {
    font-size: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    width: 350px;
    border-radius: 5px;
    background-color: #172031;
    color: #ffffff;
    padding: 15px;
    box-shadow: rgba(23, 32, 49, 0.356) 2px 2px 2px;
}

#titTarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.tarefaTopo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tarefaInferior {
    display: flex;
    align-items: center;
}

.tarefaDireita {
    display: flex;
    align-items: center;
}

.btnRemover {
    display: flex;
    cursor: pointer;
    margin-left: auto;
}
