#div-pai{
    display: flex;
    justify-content: space-evenly;
}

.exercicio1{
    display: flex;
}
.exercicio2{
    display: flex;
}

#form_exercicio1{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#listaDeTarefas{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#listaDeSalarios>table{
    background-color: aqua;
    display: flex;
    flex-direction: column;
}